@import url('../base/fonts.pcss.css');

:root {
  --box-color: #000;
  --box-color-light: #000;
  --border-color: #0000;
  --border-light: #fff;
  --background-color: #353535;
  --font-color: #fff;
  --background-textarea: #262626;
  --stars-color-1: #fe53baa2;
  --stars-color-2: #8e51eab4;
  --font-size-16: 1rem;
  --font-size: 0.9rem;
  --font-size-mini: 0.7rem;
  --transition-delay: 0.5s;
  --font-family: Roboto,sans-serif,arial;
  --range_update_value: 50;
}

/* Start of my Custom codes */
body, .path-home {
	font-family: var(--font-family);
  background-color: var(--background-color);
  transition: var(--transition-delay);
}

a, p, .li, .comment__time, .comment-edit, .parent-comment-wrapper,
.form-submit, .comment_edit, .comment-comment-delete-form, textarea,
.comments__title, .material-symbols-outlined, .range__div label, .range__km, .home-title {
  color: var(--font-color);
}

.range__div label, .range__km, .home-title {
  font-family: var(--font-family);
}

.home-title {
  text-align: center;
  text-align: center;
  padding-bottom: 1.5rem;
}

/* Align the rating and like */
.group-rating {
  display: flex;
  justify-content: center;
}

/* Remove label of vote and rating. */
.field--name-field-comments-vote .field__label, .vud-widget .voted-how {
  display: none;
}

/* Remove only text Points: */
.vote-current-score {
  font-size: 0;
}

.vote-current-score strong {
  font-size: var(--font-size);
}

/* Hiden the label of rating */
.field--type-fivestar .field__label, .range__label{
  display: none;
}

/* To limite the height on full view */
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage {
  height: 15rem;
}

/* Set style to full view on img carousel */
.owl-carousel .owl-item img {
  border-radius: 1rem;
  height: 15rem;
}

/* Style border radius to carousel full view */
.block__content .owl-carousel {
  border-radius: 1rem;
  box-shadow: var(--box-color) 0.2rem 0.2rem 0.5rem;
}

/* Style to google maps full view */
iframe {
  border-radius: 1rem;
  height: 15rem;
  box-shadow: var(--box-color) 0.2rem 0.2rem 0.5rem;
}

/* Put the arrow of owl-carousel on the middle of the image on full view */
.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* Set size of arrows on full view */
.block__content .owl-theme .owl-nav [class*=owl-] {
  color: #fcfcfc;
  font-size: 2rem;
  font-family: sans-serif;
}

.block__content .owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
  color: #8b8787;
}

.path-node .tabs-wrapper {
  display: none;
}

/* Style to description on full view */
.location__description {
  text-align: center;
  padding: 3rem 0;
}

.location__description p {
  font-size: var(--font-size);
  margin: 0;
}

/* Remove the search on full view */
/* #search-block-form {
  display: none;
} */

/* Font size to gmaps on full view */
.field--name-field-complete-address {
  font-size: var(--font-size);
  margin: 0;
}

.field--name-field-complete-address .field__label {
  display: none;
}

/* Set the font size to address bellow the gmaps */
.field--name-field-complete-address .simple-gmap-address {
  font-size: var(--font-size-mini);
  padding: 0 1rem;
  text-align: center;
}

.simple-gmap-address:after {
  font-family: 'Material Symbols Outlined';
  content: "\e173";
  font-size: var(--font-size-16);
  padding-left: 0.5rem;
  color: var(--font-color);
}

/* Subject on full view full view */
textarea {
  width: 100%;
  padding: 0 1.5rem; /* to avoid Hiden words on border */
  min-height: 1.9rem;
  /* box-shadow: var(--box-color-light) 0.1rem 0.1rem 0.3rem; */
  background: var(--background-color);
}

.field--name-comment-body  textarea:focus {
  background: var(--background-textarea);
  outline: none;
  border-color: var(--font-color);
}

/* Hiden the subject of comments full view */
.field--name-subject {
  display: none;
}

/* Hiden the explanation about comments full view */
.field--name-comment-body .js-filter-wrapper {
  display: none;
}

/* Hiden the count comments. */
.comments__count {
  display: none;
}

/* Hiden the comment label */
.js-form-type-textarea label {
  display: none;
}

/* Defines font size of comments full view */
.comment__time, .comment-edit {
  font-size: var(--font-size-mini);
}

/* Style to put the submit button side of comment field */
.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* To align the comment with submit btn */
.field--name-comment-body .js-text-full {
  margin-top: 0.22rem;
  border-radius: 2rem;
  border-color: var(--border-light);
  overflow: hidden;
}

/* When user try to post empty */
.path-comment .field--name-comment-body .js-text-full {
  margin-top: 0.26rem;
}

/* Defines the font-size inside the comments */
.field--name-comment-body p {
  margin-bottom: 0;
  font-size: var(--font-size);
}

/* Add margin to distance the comment of links edit and etc */
.comment__content ul.comment__links {
  margin-top: 0.1rem;
}

/* To style the submit */
.form-submit, #edit-cancel {
  border: unset;
  border-radius: 2rem;
  background: unset;
  /* box-shadow: var(--box-color-light) 0.1rem 0.1rem 0.3rem; */
  min-height: 1.9rem;
  min-width: 3rem;
  font-size: var(--font-size-mini);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
  border: 1px solid var(--border-light);
  text-decoration: none;
}

/* Align comments and img full view */
article.comment {
  display: grid;
  grid-template-columns: 6rem auto;
  grid-gap: 0.5rem;
  padding: 0.7rem 0;
}

/* Align edit/reply/delete full view */
ul.comment__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-direction: row-reverse;
  justify-content: start;
}

/* Remove marker from li full view */
li {
  list-style: none;
  font-size: var(--font-size-mini);
}

/* Remove the underline from a full view */
.comment__links a {
  text-decoration: none;
}

/* Remove h3 and Replies word from comment full view */
.comment__content h3,
.show-hide-wrapper  {
  display: none;
}

/* To picture full view */
.comment__picture {
  position: static;
}

/* To picture full view */
.comment__picture img {
  width: 100%;
  height: 90px;
}

/* To reply comments */
/* Add class only if the indented is not herself child. */
.indented:not(.indented *),
article + .parent-comment-info:not(.indented *) { /* To first reply */
  /* add your styles here */
  margin-inline-start: 1.5rem;
}

/* Remove the padding top from comment to keep the reply details close */
.indented:not(.indented *) article {
  padding-top: unset;
}

/* Padding to each new comments. */
/* article.comment--level-1 {
  padding-top: 1rem;
} */

/* Reply details styles */
.parent-comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-mini);
}

/* Set different style to user reply comment and limit the size */
.username-info {
  margin-left: 0.2rem;
  font-weight: 600;
  /* Hide any overflow beyond one line */
  overflow: Hiden;
  /* Ensure text doesn't wrap to a second line */
  white-space: nowrap;
  /* Add ellipsis to indicate truncated text */
  text-overflow: ellipsis;
  max-width: 50%;
}

/* Set top to comments section */
.comments__title {
  margin: 1.5rem 0;
  justify-content: center;
  font-size: 1.25rem;
}

/* Set padding to commend to comments */
.path-node .field__item p:first-of-type {
  padding-top: 0.5rem;
}

.path-node .field__item p:last-of-type {
  padding-bottom: 0.5rem;
}

.path-node .field__item p:only-of-type {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


/*
*
* Delete comments form styles
*
*/

.path-comment #edit-actions {
  display: flex;
  gap: 0.6rem;
  padding: 1.6rem 0;
}

.path-comment #edit-submit, .path-comment #edit-cancel {
  width: 50%;
}

.path-comment .comment-comment-delete-form,
.path-comment .breadcrumb__link,
.path-comment .comment_edit {
  font-size: var(--font-size);
  text-decoration: none;
}


.path-comment .breadcrumb__list li:first-child,
.path-comment #block-yes-pet-app-primary-local-tasks, .div-invisible {
  display: none;
}

.path-comment #block-yes-pet-app-breadcrumbs nav.breadcrumb {
  margin: 0;
}

.path-comment #block-yes-pet-app-breadcrumbs .breadcrumb__content ol {
  padding: 0;
}

/*
*
* To mobile menu. 
*
*/

.site-branding__name {
  display: none;
}

#header-nav {
  left: -100%;
  position: fixed;
  transition: all 0.4s ease;
  color: #fff;
  z-index: 100;
  background: #000000e6;
  padding: 1rem;
  height: 100%;
  top: 0;
  width: 100%;
}

.mobile__menu_visible {
  display: block;
}

.close__mobile_div {
  display: flex;
  justify-content: end;
}

.menu--level-1 li a {
  color: #fff;
  text-decoration: none;
}

.header-nav .menu--level-1 li {
  padding: 0.7rem 2.5rem;
  border-bottom: 1px solid #fff;
}

.menu--level-1 {
  text-align: initial;
  margin: 0;
  padding: 0;
}

.btn-hamburger {
  display: flex;
  justify-content: start;
  background: transparent;
  border: unset;
  margin: 0;
  padding: 0;
}

.btn-hamburger img {
  height: 2rem;
}

.navDropown {
  display: flex;
  justify-content: center;
}

.reader__logo {
  display: flex;
  justify-content: center;
}

.search__icon {
  display: flex;
  justify-content: center;
}

.dark__theme {
  display: flex;
  justify-content: end;
}

.site-header__inner__container{
  display: grid;
  grid-template-columns: 10% 10% 1fr 0 10% 10%;
  align-items: center;
  height: 3.5rem;
  box-shadow: var(--box-color) 0 0 0.3rem;
  margin-bottom: 1.5rem;
}

#search-block-form #edit-actions input {
  display: none;
}

.search__icon img, .dark__theme img {
  height: 1.8rem;
}

#edit-keys {
  position: fixed;
  top: 0.9rem;
  left: 2000px;
  transition: all 0.5s ease;
  width: 63.5%;
  border-radius: 2rem;
  border: unset;
  background: var(--background-color);
  border: 1px solid var(--border-light);
  z-index: 10;
  color: var(--font-color);
}

#edit-keys:focus {
  background: var(--background-textarea);
  outline: none;
  border-color: var(--font-color);
}

.header-nav-overlay {
  display: none;
}

.close__mobile_div .close__mobile_menu .material-symbols-outlined {
  color: #fff;
}

/*
*
* Range Button
*
*/
 .range__input {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 2rem;
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 10px solid #cac52e;
  margin-top: -5px;
  background: #cac52e;
  cursor: pointer;
  box-shadow: var(--box-color) 0.1rem 0.1rem 1rem;
  z-index: 999;
  /* box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1); */
}

.range__input::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #cac52e 0%, #cac52e calc(var(--range_update_value) * 0.24%),
  #d3d3d3 calc(var(--range_update_value) * 0.24%), #d3d3d3 100%);
  height: 0.6rem;
  border-radius: 2rem;
  /* z-index: 2; */
}

.range__input::-moz-range-track {
  background: linear-gradient(to right, #cac52e 0%, #cac52e calc(var(--range_update_value) * 0.24%),
  #d3d3d3 calc(var(--range_update_value) * 0.24%), #d3d3d3 100%);
  height: 0.6rem;
  border-radius: 2rem;
  /* z-index: 2; */
}


.range__div label, .range__km {
  font-size: var(--font-size-16);
}

/* .range__km {
  padding: 1rem;
} */

.range__div {
  text-align: center;
  padding-bottom: 2.4rem;
}

/* For Webkit browsers (including Safari and Chrome) */
.range__input::-webkit-progress-value {
  background-color: #cac52e;
}

/* For Firefox */
.range__input::-moz-range-progress {
  background-color: #cac52e;
}

.range__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 10px solid #cac52e;
  margin-top: -5px;
  background: #cac52e;
  cursor: pointer;
  box-shadow: var(--box-color) 0.1rem 0.1rem 1rem;
  z-index: 999;
  /* box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1); */
}

.range__input-container {
  position: relative;
}

.range__km {
  position: absolute;
  top: -1.2em;
  left: calc(var(--range_update_value) * 0.24%);
  text-align: center;
  transform: translateX(-20%);
  font-size: var(--font-size-mini);
  width: 30px;
}

/*
*
* Not found message.
*
*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2.7em;
  border-radius: 5rem;
  transition: all 0.3s;
  line-height: 1.4em;
  animation: gradient_301 5s ease infinite;
  backdrop-filter: blur(1rem); 
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: var(--font-size-16);
  letter-spacing: 3px;
  color: var(--font-color); 
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: var(--stars-color-1);
}

.circle:nth-of-type(2) {
  background: var(--stars-color-2);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#b4af1e 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#b4af1e 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


/*
*
* Sweet alert customs.
*
*/
.swal2-shown .swal2-container .swal2-popup {
  background-color: var(--background-color);
  color: var(--font-color);
}

.swal2-shown .swal2-container .swal2-timer-progress-bar {
  background: var(--font-color);
}

.swal2-shown .swal2-container .swal2-loader {
  border-color: var(--font-color) rgba(0,0,0,0) var(--font-color) rgba(0,0,0,0);
}

.swal2-shown .swal2-popup {
  box-shadow: var(--box-color) 0.2rem 0.2rem 0.5rem;
}

/*
*
* Menus link hambuger.
*
*/

.home__link:before,
.my-account__link:before,
.log-out__link:before,
.início__link:before,
.minha-conta__link:before,
.sair__link:before {
  font-family: 'Material Symbols Outlined';
  font-size: var(--font-size-16);
  color: #fff;
  padding-right: 0.5rem;
}

.início__link:before, .home__link:before {
  content: "\ea44";
}

.minha-conta__link:before, .my-account__link:before {
  content: "\f02e";
}

.sair__link:before, .log-out__link:before {
  content: "\e9ba";
}

.home__link,
.my-account__link,
.log-out__link,
.início__link,
.minha-conta__link,
.sair__link {
  display: flex;
  justify-content: initial;
  align-items: flex-end;
}

/*
*
* 
*
*/

#logo-icon {
  width: 73px;
}

/* Hide the X close icon */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* Hide the X close icon for Firefox */
input[type="search"]::-moz-search-cancel {
  display: none;
}

.title__local {
  text-align: center;
  color: var(--font-color);
  font-size: 1rem;
  font-family: var(--font-family);
  padding-bottom: 0.5rem;
}


/*
*
*
*
*
*/
/* nav {
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
 
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Dropdown menu styles */
/* .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}   */

.navDropown ul {
  padding: 0;
  margin: 0;
}

.navDropown .dropdown-menu {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  padding: 0 1rem;
  min-width: 12rem;
  top: 2.47rem;
}

.navDropown .dropdown-menu li, 
.navDropown .dropdown-menu .selectLanguage {
  padding-bottom: 1rem;
}

.navDropown .dropdown-menu .selectLanguage {
  padding-top: 0.5rem
}

.navDropown .dropdown-menu .langImg {
  padding-right: 0.5rem;
}

.navDropown .text__deco_none {
  text-decoration: none;
}

.navDropown .dropdown {
  display: flex;
}
