.navDropown ul {
  padding: 0;
  margin: 0;
}

.navDropown .dropdown-menu {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  padding: 0 1rem;
  min-width: 12rem;
  top: 2.47rem;
  z-index: 2;
}

.navDropown .dropdown-menu li, 
.navDropown .dropdown-menu .selectLanguage {
  padding-bottom: 1rem;
}

.navDropown .dropdown-menu .selectLanguage {
  padding-top: 0.5rem
}

.navDropown .dropdown-menu .langImg {
  padding-right: 0.5rem;
}

.navDropown .text__deco_none {
  text-decoration: none;
}

.navDropown .dropdown {
  display: flex;
  cursor: pointer;
}

.navDropown {
  display: flex;
  justify-content: center;
}

